.display {
    height: 100px;
    width: inherit;
    background-color: black;
    text-align: right;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputs {
    font-size: 30px;
    color: rgb(240, 208, 64);
}

.current-input {
    font-size: 50px;
    color: white;
}